/* روابط علوية */
.top-links {
  font-family: "Almarai", sans-serif;
  position: fixed;
  inset-inline: 0;
  top: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 28px;
  z-index: 9999;
}

.top-links .text {
  font-size: 16px;
}

.top-links .arrow {
  font-size: 18px;
}

.nav-link {
  display: inline-flex;
  gap: 8px;
  align-items: center;
  font-size: 14px;
  padding: 8px 14px;
  border-radius: 8px;
  text-decoration: none;
  color: #fff;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.18);
  background: #406A84;
  transition: transform 0.3s, background 0.3s, color 0.3s;
}

.nav-link:hover {
  transform: translateY(-2px);
  background: #fff;
  color: #406A84;
}

.booking-container {
  min-height: 70vh;
  background-color: #406a84;
  padding: 20px;
  /* padding علشان الكارد مايلزقش ف الحواف */
  font-family: "Almarai", sans-serif;
}

.fa-solid {
  color: #406A84;
}

.booking-card {
  background: #fff;
  border-radius: 12px;
  max-width: 100%;
  margin: auto;
  padding: 20px;
}

.contain-all {
  width: 400px;
}




.edit-notFound {
  background-color: #fff;
  position: relative;
  text-align: center;
}

.color-button-footer {
  transition: all 0.3s ease-in-out;
  background-color: #01244B;
  color: #fff;
  border: transparent;
}

.color-button-footer:hover {
  background-color: #fff;
  color: #2A9E5A;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.notfound-img {
  width: 80%;
  height: auto;
  object-fit: contain;
}

/* شاشات التابلت */
@media (max-width: 992px) {
  .back-home-btn {
    bottom: 27%;
    font-size: 0.9rem;
    padding: 8px 20px;
  }

  .notfound-img {
    width: 90%;

  }
}

/* شاشات الموبايل */
@media (max-width: 576px) {
  .back-home-btn {
    bottom: 26%;
    font-size: 0.8rem;
    padding: 6px 16px;
  }

  .notfound-img {
    width: 100%;

  }
}

/* شاشات الموبايل */
@media (max-width: 413px) {
  .back-home-btn {
    bottom: 28%;
    font-size: 0.8rem;
    padding: 6px 16px;
  }

  .notfound-img {
    width: 100%;

  }
}

/* شاشات الموبايل */
@media (max-width: 320px) {
  .back-home-btn {
    bottom: 20%;
    font-size: 0.8rem;
    padding: 6px 16px;
  }

  .notfound-img {
    width: 100%;

  }
}