<section class="d-flex justify-content-center align-items-center edit-notFound"
       style="min-height: 70vh; position: relative;">

       <nav class="top-links d-flex justify-content-between w-100 mb-4">
              <a class="nav-link nav-left d-flex align-items-center" routerLink="/booking">
                     <span class="arrow me-1">→</span>
                     <span class="text"> احجز الان </span>
              </a>
              <a class="nav-link nav-right d-flex align-items-center" routerLink="/home">
                     <span class="text">الرئيسية</span>
                     <span class="arrow ms-1">←</span>
              </a>
       </nav>

       <!-- صورة 404 -->
       <img src="assets/images/02881da4-e1fd-419b-9d05-b997eda877d9.png" class="img-fluid notfound-img" alt="notFound">

</section>